<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="styles/main.css">
</head>
<body>
    
    <div class="container">
        <form id="myForm" method="post">
            <label for="wordInput">Give Words</label>
            <input type="text" id="WordInput" name="Word">

            <label for="submit"> </label>
            <input id="getNew" type="submit" value="Joke" formaction="/word">
        </form>
        <div class="card" style="width: 18rem">

            <% if (locals.imageSource){ %>
            <img src=
            "
               <%= imageSource  %>
            ">
            <% } %>

            <div class="card-body">
                
                <p class="card-text">
                    <% if (locals.content){ %>
                        <%= content.setup %>
                        <%= content.delivery %>
                    <% } else {%>
                        <p> No Jokes to show, Reload to get New</p>
                    <% } %>
                </p>
                <a href="/reload" class="btn btn-primary">Get New</a>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>