.container{
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center ;
    align-items: center;
    flex-direction: column;
    gap: 3px;
}
#myForm{
    margin-bottom: 5px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
}
body{
    background-color: rgb(247, 215, 250);
}